[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

#Ignore all files and folders.
/*

#Except the Assets and ProjectSettings folder, as well as the selected Git files.
.unitypackage
!Assets/
!ProjectSettings/
!.gitignore
!.gitattributes

